@model List<Suraj.Models.EmployeeModel>

<a asp-controller="Employee" asp-action="AddDetails" >Add New Details</a>
<br />
<a asp-controller="Employee" asp-action="Login" >Login</a>
<br />
<a asp-controller="Employee" asp-action="NewAccount" >New Account</a>
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Company</th>
        <th>Dept</th>
        <th>Salary</th>
        <th>delete</th>
        <th>edit</th>
    </tr>
    @foreach (var item in Model)
	{
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td>@item.Company</td>
            <td>@item.Dept</td>
            <td>@item.Salary</td>
            <td><a asp-action="delete" asp-controller="Employee" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a></td>
            <td><a asp-action="edit" asp-controller="Employee" asp-route-Id="@item.Id" class="btn btn-primary">Edit</a></td>
        </tr>
	}
</table>